@import '../base/colors';
// @media screen and (max-width: 480px) {
//   body {
//     width: 70%;
//   }
// }

.cartContainer {
  background-color: $color-primary;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 1em;
  margin-bottom: 2em;
}

.cartItemContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  padding: 0 0;
  overflow: scroll;
  margin-bottom: 5em;
  margin-top: 2em;
}

.checkoutBtnAndTotalContainer {
  display: flex;
  align-self: flex-end;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2em;
  margin-right: 1.5em;
  width: 100%;
}

h1 {
  margin: 0;
  display: flex;
  align-self: center;
}
