@import '../base/colors';

.cartContainer {
  background-color: $color-primary;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-top: 5em;
}

.cartItemContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  padding: 0 0;
  overflow: scroll;
}

.checkoutBtnAndTotalContainer {
  display: flex;
  justify-content: stretch;
  align-items: flex-end;
  flex-direction: row;
  margin-bottom: 2em;

  p {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 40px;
    margin: 0px 10px;
    padding: 0;
  }
}
