@import '../base/colors';
@import '../base/sizes';

.checkoutContainer {
  background-color: $color-primary;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2em 2em;
  margin: 2em;
}
h3 {
  margin: 0;
  font-size: 18px;
}
h1 {
  font-size: 22px;
  align-self: flex-start;
  margin-bottom: 0.5em;
}
.checkoutHeaderContainer {
  font-size: 2em;
  font-weight: bold;
  color: white;
  display: flex;
  margin: 0;
  margin-top: 1em;
}

.checkoutInfoContainer {
  display: flex;
  width: 80%;
  align-items: flex-start;
  flex-direction: column;
  padding: 1em;
  background-color: white;
  border-radius: 20px;
  padding: 2em;
  > label {
    font-size: 16px;
    font-weight: bolder;
    color: black;
    margin-top: 1em;
  }

  > input {
    align-self: stretch;
    height: 3em;
    font-size: 16px;
    padding: 0;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box;
    font-weight: bolder;
    color: black;
    border-style: none;
    background-color: white;
    box-shadow: 0px 2px rgba(0, 0, 0, 0.2);
  }

  > p {
    font-size: 16px;
  }
}

#paymentOptions {
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  width: 30em;
  flex: 1;
  font-size: 16px;
  font-weight: bolder;
}

.paymentOption {
  display: flex;
  align-items: center;
  > input[type='radio'] {
    border: 0px;
    width: 1em;
    height: 1em;
  }
}

#completePayment {
  display: flex;
  margin-top: 1em;
  flex: 1;
  font-size: 20px;
  align-self: flex-end;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black;
  width: 100%;
  cursor: pointer;
  > p {
    color: white;
    margin: 0;
    font-size: 1em;
  }
}

.table {
  display: flex;
  flex-direction: row;
  align-self: stretch;
  justify-content: stretch;
}

.tableColHead {
  flex: 1;
  display: flex;
  background-color: $color-primary;
  justify-content: flex-end;
  align-items: flex-end;
}
.tableCol {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: flex-end;
}

@media screen and (max-width: $medium) {
  .table {
    display: flex;
    flex-direction: row;
    align-self: stretch;
    justify-content: stretch;
  }

  .tableColHead {
    flex: 1;
    display: flex;
    font-size: 10px;
    justify-content: flex-end;
    align-items: flex-end;
  }
  .tableCol {
    display: flex;
    flex: 1;
    font-size: 10px;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .checkoutInfoContainer {
    > label {
      font-size: 10px;
      font-weight: bolder;
      color: black;
      margin-top: 0.4em;
    }
    > input {
      font-size: 10px;
    }
  }
  h3 {
    font-size: 10px;
  }
  .paymentOption {
    display: flex;
    align-items: center;
    > input[type='radio'] {
      border: 0px;
      width: 0.5em;
      height: 0.5em;
    }
  }
  .checkoutContainer {
    margin: 1em;
    padding: 1em;
    overflow: scroll;
  }
  h1 {
    font-size: 0.5em;
    align-self: flex-start;
    margin-bottom: 0.5em;
  }
}
