@import '../base/colors';
@import '../base/sizes';

.profileContainer {
  height: 100%;
  width: 100%;
  background-color: $color-primary;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  margin-bottom: 2em;
  margin-top: 1em;
}
h3 {
  font-size: 1em;
  margin: 0;
}

.personalInfoContainer {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  height: 60em;
  width: 70%;
  padding: 1.5em;
  background-color: lightgray;
  border-radius: 20px;
}

p {
  font-size: 32px;
  font-weight: bolder;
  color: black;
  padding: 0.5em;
  text-align: start;
}
.orderHistory {
  display: flex;
  justify-content: flex-start;
}

.table {
  display: flex;
  flex-direction: row;
  align-self: stretch;
  justify-content: stretch;
}

.tableColHead {
  flex: 1;
  display: flex;
  background-color: $color-primary;
  justify-content: flex-end;
  align-items: flex-end;
}
.tableCol {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: flex-end;
}
