@import '../base/colors';

.profileContainer {
  height: 100%;
  width: 100%;
  background-color: $color-primary;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.profileHeaderContainer {
  font-size: 2.5em;
  font-weight: bold;
  color: white;
  display: flex;
  margin-right: 900px;
  margin-top: 3em;
}

.personalInfoContainer {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  height: 60em;
  width: 70em;
  padding: 1.5em;
  background-color: lightgray;
  border-radius: 20px;
}

p {
  font-size: 32px;
  font-weight: bolder;
  color: black;
  padding: 0.5em;
}
