@import '../base/colors';
@import '../base/sizes';

.addToCart {
  height: 45px;
  width: 100%;
  background-color: $color-primary;
  cursor: pointer;
  border-radius: 0.5em;
  border-style: none;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: $medium) {
  .addToCart {
    height: 35px;
    width: 8em;
    background-color: $color-primary;
    cursor: pointer;
    border-radius: 0.5em;
    border-style: none;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  }
}
