@import '../base/colors';

#footer {
  padding: 1em;
  display: flex;
  background-color: $color-alt2;
  justify-content: space-between;

  box-shadow: -4px -4px 0px 2px rgba(0, 0, 0, 0.2);
  .footerPartContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  h3 {
    color: white;
    font-weight: bold;
    margin: 0;
  }
  a {
    color: white;
    font-style: italic;
    font-weight: bold;
  }
}
