@import '../base/colors';

#nav {
  padding: 5px 30px 5px 30px;
  display: flex;
  background-color: $color-alt2;
  margin: 0;

  #titleContainer {
    display: flex;
    flex: 1;
    justify-content: center;
    text-shadow: 2px 2px #000;
  }

  .logo {
    color: #d8cec4;
    cursor: pointer;
  }

  #iconContainer {
    display: flex;
    flex: 1;

    justify-content: flex-end;
    align-items: center;
    justify-items: flex-end;
  }

  img {
    height: 2em;
    cursor: pointer;
    padding-left: 1em;
    object-fit: contain;
  }

  .itemCounterContainer {
    width: 1em;
    height: 1em;
    align-self: flex-end;
    border-radius: 0.7em;
    padding: 2px;
    margin-bottom: 15px;

    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    background-color: white;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  }
}
