@import '../base/colors';

#productsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-self: center;
  background-color: $color-primary;
  width: 80%;
}

#productItemsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.search {
  display: flex;
}
